*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:url(image/ground.jpg) ;
    background-size:cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .main {
    width: 400px;
    height: 550px;
    background-color: rgba(0, 0, 0,  0.5) ;
    border-radius: 12px;
    
}

img{
    position: relative;
    top: -30px;
    left: 150px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
input{
    border: none;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: red;
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
    width: 270px;
    height: 40px;
    background: none;
    margin-bottom: 30px;
    font-weight: 200;
    font-size: .9em;
    color: white;
    transition: .5s ease;

}
input:focus   {
    outline: 0 none;
   
}
input[placeholder]{ 
    color: black;
    font-size: 1em;
}


input:hover {
    width: 290px;
}


button:hover{
    width: 290px;
}
input::placeholder{
    color:white ;
}
button{
    width: 270px;
    height: 40pxr;
    background-color: dodgerblue;
    padding: 8px;

}
h3{
    color:red;
    font-weight: 300;
    background-color: rgb(54, 21, 21);
    letter-spacing: 1px;
}

a{
    font-size: 1.1em;
    color: rgb(91, 183, 245);
    margin-top:10px;
}
h4{
    color: white;
    padding-top: 10px;
    font-size: 1.1em;
}